.comment{
    display:flex;
}

.comment-section {
    padding: 10px 0 0 10px;
} 

.comment-user {
    font-weight:bolder;
    margin-top:.5em;
    margin-bottom:.5em;
}
.comment-text {
    margin:.5em;
}
