.comment{
    display:flex;
    align-items: baseline;
}

.commentSection {

} 

.comment .commentUser {
    font-weight:bolder;
    margin-top:.2em;
    margin-bottom:.5em;
}
.comment .commentText {
    margin:.5em;
}

input {
 margin: 20px 5px;
  width: 50%;
}
