.logo-text {
    height: 60px;
}
.search-header {
  display: flex;
    justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #edf2f9;
  width: 100%;
   margin-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 30px;
  width: 40%;
  margin: auto;
}

.search-input {
      border-radius: 5px;
  border: 1px solid #EDF2F9;
  height: 30px;
  font-size: 15px;
  text-align: center;
}

