.post-container {
  margin: 10px auto;
  border: 1px solid lightgray;
  padding: 2rem !important;
}

.post {
  margin: 1rem 0;
}

.post-heading {
  display: flex;
  padding: 1rem 0;
}

.post-heading .thumbnail {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.post-heading .user-name {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 1rem;
}

.likes {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
}

.add-comment {
  margin-top: 2rem;
}

.post-container .post .like,
.post-container .post .comments {
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 0;
}


.timestamp {
  padding-top: 20px;
  font-weight: lighter;
  color: grey;
}

.like-section {
  display: flex;
}

.like-section-wrapper {
  height: 10px;
  width: 10px;
  margin: 10px;
}